#forum {
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 8;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    box-shadow: rgba(0,0,0,0.5) 0 0 8px;
    padding: 10px;
    max-height: 90%;
}
#forum-tab {
    display: none;
    position: fixed;
    bottom: 0;
    right: 8px;
    z-index: 8;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    box-shadow: rgba(0,0,0,0.5) 0 0 8px;
    padding: 10px;
    cursor: pointer;
    color: #c35;
    font-weight: bold
    font-size: 14px;
}
#forum .preview,
#forum .detail {
    width: 400px;
    font-size: 12px;
    max-height: inherit;
}
#forum .detail .thread.reply {
    border-left: 1px dashed #999;
    padding-left: 1em;
    position: relative;
    margin-top: 1em;
}
#forum .detail .post {
    margin: 0.5em 0;
}
#forum .detail .post:hover,
#forum .detail .post.replying-to {
    background-color: #fee;
}
#forum .detail .reply-status {
    background-color: #cfd;
    border: 1px solid #6c9;
    text-align: center;
    width: 70%;
    margin: 0.5em auto;
    padding: 1em;
    display: none;
}
#forum .detail .post a.reply {
    font-size: 9px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#forum .detail .post:hover a.reply {
    display: block;
}
#forum .detail .title { font-size: 16px; color: #c35; margin-bottom: 8px; }
#forum .detail .link a {
    display: block;
    margin-bottom: 8px;
    background-color: #fee;
}
#forum .detail .body { max-height: 400px; overflow: auto; }
#forum .detail .byline {
    color: #c35;
    height: 20px;
    position: relative;
}
#forum .detail .byline .user {
    line-height: 20px;
}
#forum .glance { width: 160px; font-size: 11px; }
#forum .list .post {
    margin-top: 4px;
    position: relative;
    cursor: pointer;
}
#forum .list .post:hover { color: #c35; }
#forum .list .post:hover .title { text-decoration: underline; }
#forum .list .title { font-weight: bold; color: #c35; }
#forum .list .message {
    overflow: hidden;
    position: relative;
    min-height: 25px;
}
#forum .glance .message { height: 25px; }
#forum .tail-overlay {
    background: url(/images/fade-fff-bottom.png); top repeat-x;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#forum .detail form.reply { margin-top: 8px; }
#forum .detail form.reply .message {
    border: 1px solid #999;
    padding: 0.3em;
    width: 97%;
}
#forum .preview .list .message {
    max-height: 43px;
}
#forum .message p:first-child { margin-top: 0px; }
#forum .footer { clear: both; overflow: hidden;  }
#forum .form-field {
    margin: 4px 0;
}
/****** SEARCH ******/
#forum form.search {
	display: inline;
}
/****** PAGINATION ******/
#forum pager { display: block; }
#forum pager span { padding: 0 0.2em; cursor: pointer; color: #c35; }
#forum pager span:hover { text-decoration: underline; }
#forum pager span.active { cursor: default; color: #000; }
#forum pager span.active:hover { text-decoration: none; }
