html, body  { height: 100%; }
a { color: #C35; }
body  { height: 100%; margin: 0; padding: 0; /*overflow: hidden;*/ }
#app_container { width: 100%; height: 100%; min-height: 740px; min-width: 1000px; margin: 0 auto; }
#sfapp  { outline:none; position: relative; z-index: 1; min-height: 740px; min-width: 1000px; }
#sfapp .noflash { text-align: center; padding-top: 290px; }
#sfapp .noflash h1 { background-color: #FFF; padding-top: 50px; }
#sfapp_loading  { position: absolute; z-index: 1; width: 1000px; left: 50%; top: 0px; margin-left: -500px; text-align: center; font-size: 18px; padding-top: 20px; line-height: 30px; }
#mbapp  { position: absolute; width: 1px; height: 1px; bottom: 0; left: 0; z-index: 0; }
.page-footer { font-family: Helvetica, Arial, sans-serif; font-size: 11px; text-align: center; line-height: 140%; color: #666; width: 1000px; margin: 0.5em auto; }
.button {
	padding: 0.5em 1em;
	border: 0.2em solid #c35;
	border-radius: 1.5em;
}
.button:hover, .button:focus {
	color: #fff;
	background-color: #c35;
}
form#pop_login { font-size: 13px; }
form#pop_login label { margin-top: 8px; display: block; }
form.login .register { display: none; }
form.register .login{ display: none; }
form h2, form .line { margin-bottom: 0.5em; }
form .hint { font-size: 10px; color: #666; }
/* debug **
#app_container { width: 1000px; height: 740px; min-height: 740px; min-width: 1000px; margin: 0; }
#mbapp { position: absolute; width: 1000px; height: 500px; top: 0; left: 1000px; z-index: 2; }
** debug */
